
<configuration>

    <property name="DEV_HOME" value="logs/logback/" />

    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter  class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${DEV_HOME}/log.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-YYYY - HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/%d{yyyy/MM/}log_%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd-MM-YYYY - HH:mm:ss.SSS} [%t] %highlight(%-5level) %logger{5} - %msg%n
            </Pattern>
        </layout>
    </appender>



    <logger name="com.netcracker.ageev.library" level="INFO" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>

    <logger name="com.netcracker.ageev.library" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="Warn">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
